aiofiles
annotated-doc
annotated-types
anyio
brotli
certifi
click
contourpy
cycler
fastapi
ffmpy
filelock
fonttools
fsspec
gradio>=4.0.0
gradio_client
groovy
h11
hf-xet
httpcore
httpx
huggingface_hub
idna
Jinja2
joblib
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
numpy
orjson
packaging
pandas
pillow
pydantic
pydantic_core
pydub
Pygments
pyparsing
python-dateutil
python-multipart
pytz
PyYAML
rich
safehttpx
scikit-learn==1.6.1
scipy
seaborn
semantic-version
shellingham
six
starlette
threadpoolctl
tomlkit
tqdm
typer
typer-slim
typing-inspection
typing_extensions
tzdata
uvicorn